{% extends 'base.html' %}

{% block nav-item %}
<li class="nav-item">
    <a href="#" class="nav-link active">Home</a>
</li>
<li class="nav-item">
    <a href="{% url 'galeria' %}" class="nav-link">Galeria</a>
</li>
<li class="nav-item">
    <a href="{% url 'fale_conosco' %}" class="nav-link">Fale Conosco</a>
</li>
{% endblock nav-item %}


{% block main %}
<div class="row content-around bg-dark">
    <div class="col text-primary text-center col1">Lorem ipsum dolor sit amet, consctetur adipisicing elit.</div>
    <div class="col text-light text-center col2">Aqui vai uma imagem</div>
</div>
{% endblock main %}


